* {
    box-sizing: border-box; 
    font-family: verdana;
}

body {
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}
.my-button {
    display: none; 
}
textarea {
    border-radius: 12px; 
}
select {
    background-color: white; 
    border-radius: 8px; 
    padding: 5px; 
}
#charlotte {
    color: white; 
}
#video-button {
    width: 100px; 
    height: 40px;  
    background-color: #4646de; 
    color: white; 
    border-radius: 20px; 
    opacity: 0.7; 
    margin-bottom: 25px; 
}
.buy {
    border-radius: 20px; 
    background-color: #aeae82;
    border: 3px solid gray; 
}
#video-button:hover {
    background-color: white; 
    color: blue; 
    padding: 5px; 
    box-shadow: 7px 7px 7px black;
}
#top-para-blue {
    color: #3c3cee; 
    margin-bottom: 50px;
}
.button-top-page {
    display: flex; 
    gap: 20px; 
}
#number {
    color: #2929ee; 
}
#hamburger-menu {
    display: none; 
}
#menu {
    display: none; 
}
.ball {
     width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  animation: bounce 2s ease-in-out infinite, changeColor 3s linear infinite, moveRandom 6s linear infinite;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(800px);
  }
}


@keyframes changeColor {
  0%   { background-color: red; }
  33%  { background-color: green; }
  66%  { background-color: blue; }
  100% { background-color: red; }
}


@keyframes moveRandom {
  0%   { left: 40%; top: 20%; }
  25%  { left: 60%; top: 30%; }
  50%  { left: 30%; top: 50%; }
  75%  { left: 70%; top: 40%; }
  100% { left: 40%; top: 20%; }
}

h3 {
    font-weight: bold;
    color: black; 
}
#front {
    width: 100px; 
    height: 75px; 
}
.navbar {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: 20px; 
    margin-right: 25px;
    margin-top: -35px; 
    box-shadow: 5px 5px 5px silver;
}
#one-top {
    color: gray; 
    font-size: 1.2rem; 
    width: 100%;  
    
    
}
.paragraph-checkbox {
    display: flex; 
    width: 100%; 
}
.navbar > a {
    text-decoration: none;
    color: gray; 
}
.navbar > a:hover {
    background-color: blue; 
    color: white; 
    padding: 8px; 
    border-radius: 12px;
}
.header-top {
    font-size: 2.1rem; 
    width: 800px;   
}
#feature {
    color: blue; 
}
#feature:hover {
    background-color: blue; 
    color: white; 
    padding: 5px; 
}
.top-container {
    display: flex; 
    justify-content: space-around;
    width: 100%; 
    background-image: url(/assets/bg/background-top.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px; 
    width: 100%; 
}
.right-top {
    display: flex; 
    gap: 20px; 
}
.left-top {
    width: 400px; 
}
#asana, #atlassian, #calendar, #ads, #google, #paypal, #weave {
    width: 50px; 
    height: 50px; 
    box-shadow: 3px 3px 3px black; 
    border-radius: 50%; 
}
#google {
    position: relative; 
    top: 50px; 
    left: 40px; 
}
#asana {
    position: relative; 
    top: 90px; 
    left: 20px; 
}
#atlassian {
    position: relative; 
    top: 150px; 
    left: 90px; 
}
#calendar {
    position: relative; 
    top: 70px; 
    left: 20px; 
}
#ads {
    position: relative; 
    top: 200px; 
    left: -150px; 
}
#weave {
    position: relative; 
    top: 250px; 
    left: -90px; 
}
#paypal {
    position: relative; 
    top: 50px; 
    left: 40px; 
}
.middle {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.middle > p {
    width: 400px; 
}
.circles {
    display: flex; 
    justify-content: center;
    gap: 20px; 
}
.one, .two, .three, .four {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 25px; 
}
.month {
    font-weight: 300;
}
#dollar {
    font-size: 2rem;
}
#price {
    font-weight: 300;
    font-size: 1rem;
}
.amount {
    font-size: 2.4rem;
    font-weight: 500;
}
#fine-print {
    font-size: .8rem;
}
#video {
    width: 100px; 
    height: 45px; 
    background-color: blue; 
    border-radius: 20px;
    color: white;
}
.left {
      
    grid-column: 1 / span 2; 
    padding: 40px; 
}
.button {
    display: flex; 
    justify-content: center;
}
.bottom-container {
    display: grid;
    grid-template-areas: "left components images"
                        ". cancel moneyback ";
    gap: 30px; 
    padding: 30px; 
    margin-bottom: 50px; 
    
     
}


.pricing {
    grid-row: 1 / span 3;
}
.cancel {
    grid-area: cancel; 
}
.moneyback {
    grid-area: moneyback;
}


#components, #cancel, #images, #moneyback {
    width: 80px; 
    height: 80px; 
}
.left {
    width: 850px; 
    box-shadow: 4px 4px 3px black;
    margin-left: 25px;
    grid-area: left; 
    grid-row: 1 / span 2;
}
.images {
    grid-area: images; 
}
.components {
    grid-area: components;
}
#fill {
    color: black; 
    font-size: 1.3rem;
}
.right {
    width: 100%; 
    margin-right: 25px; 
}
#man {
    border-radius: 50%; 
}
.form-container {
    display: flex; 
    justify-content: space-around;
    background-color: navy;
    color: white; 
    height: 100%; 
    padding: 25px; 
}
form {
    display: flex;  
    flex-direction: column;
    padding: 25px; 
}

.right-form {
    display: flex; 
    flex-direction: column;
    gap: 30px; 
    background-color: white; 
    padding: 20px; 
    border-radius: 12px; 
}
.checkbox-container {
    display: flex; 
    gap: 15px; 
    align-items: center;
    width: 100%; 
    
         
}
#checkbox {
    width: 50px; 
}

#business {
    font-size: 1.3rem;
    
}
.right-form > input {
    height: 30px; 
    border-radius: 7px; 

}
#fname, #lname, #email {
    height: 30px; 
    border-radius: 12px; 
    padding: 15px; 
   
}
.selects {
    display: flex; 
    justify-content: space-around;
    gap: 20px; 
}
.selects > select {
    height: 40px; 
    width: 100%; 
}
input {
    height: 30px; 
    width: 100%; 
}
.names {
    display: flex; 
    gap: 15px; 
}
#start {
    background-color: aquamarine;
    width: 120px;
    height: 35px; 
    border-radius: 20px; 
    box-shadow: 3px 3px 3px black; 
    text-align: center;
}
button:hover {
    padding: 10px; 
    background-color: blue; 
    color: white; 
    border-radius: 8px; 
}
#start:hover {
    background-color: blue; 
    color: white; 
    padding: 5px; 
    box-shadow: 7px 7px 7px black; 
}
#one {
    color: black; 
    margin-right: 250px; 
}
#comments {
    width: 100%; 
    height: 300px; 
}
#footer-front {
    width: 80px; 
    height: 80px; 
}
.footer-container {
    display: flex; 
    justify-content: space-evenly;
    color: gray; 
    flex-wrap: wrap;
    
}
.one-footer {
    flex-direction: column;
}
.hiring {
    color: blue; 
}
#hiring {
    background-color: blue; 
    color: white; 
    padding: 3px; 
}
.eye {
  position: relative;
  width: 75px;
  height: 75px;
  background: #fff;
  border: 3px solid #333;
  border-radius: 50%;
  overflow: hidden;
  background-color: #eded64; 
}

.eye .iris {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.eye .eyelid {
  position: absolute;
  width: 100%;
  height: 50%;
  background: #f2f2f2;
  z-index: 2;
  animation: blink 4s infinite ease-in-out;
}

.eye .eyelid.top {
  top: 0;
  border-bottom: 1px solid #ccc;
  transform-origin: top;
}

.eye .eyelid.bottom {
  bottom: 0;
  border-top: 1px solid #ccc;
  transform-origin: bottom;
}

@keyframes blink {
  0%, 10%, 100% {
    transform: scaleY(0);
  }
  5% {
    transform: scaleY(1);
  }
}



/*tablet*/

@media (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        display: none; 
    }
    .navigation {
        display: flex; 
        justify-content: flex-end;
        margin-right: 25px;
        margin-top: -40px;
    }
    .components, .images, .cancel, .moneyback {
        display: flex;
        flex-direction: column;
        gap: 30px; 
        margin-left: 25px; 
    }
    .my-button {
        background-color: transparent;
        border: 0; 
        width: 75px; 
    }
   
    .left-form {
        margin-bottom: 50px;
        padding: 20px; 
    }
    .top-container {
        flex-direction: column;
        align-items: center;
    }
    .asana, .atlassian, .calendar, .ads, .google, .paypay, .weave {
        position: relative; 
        top: -200px; 
        
    }
    .middle {
        flex-direction: column;
        margin-top: 200px; 
        padding: 25px; 
    }  
    .left {
        width: 100%;
        display: flex; 
        flex-direction: column;
        align-items: center; 
        margin-left: 50px;
    }
    .amount {
        text-align: center;
    }
    
    .right-top {
        margin-top: 100px;
        padding: 20px; 
    }
    .circles {
        flex-direction: row;
    }
    .one, .two, .three, .four {
        flex-direction: row;
        gap: 20px; 
    }
   .bottom-container {
    gap: 50px; 
   }
   
    .middle {
        margin-bottom: 75px;
    }
    .form-container {
        flex-direction: column;
    }
  .left-form {
    display: flex; 
    justify-content: center;
    gap: 30px; 
  }
  #man {
    width: 75px; 
    height: 75px; 
  }
  .item-1, .item-2 {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    
  }
  .my-button { display: block;  
}



#video-button:hover {
    background-color: white; 
    color: blue; 
}
.footer-container {
    display: grid;
    grid-template-areas: "front company features"
                        "front documentation resources"
    ;
                        

}
.one-footer {
    grid-area: front; 
}
.two-footer {
    grid-area: company;
}
.three-footer {
    grid-area: features; 
}
.five-footer {
    grid-area: documentation;
}
.four-footer {
    grid-area: resources; 
}
.right {
    display: flex;
    flex-direction: column.middle-lower; 
}
.header-top {
    width: 100%; 
}


}

/*mobile*/

@media (max-width: 767px) {
    
    
    .circles {
        flex-direction: column;
        margin-top: 75px;
        margin-left: 100px;
        margin-bottom: 80px;
        align-items: first baseline;
        font-size: 2rem;
    }
    .right, .middle-lower {
    display: flex;
    flex-direction: column; }

    .right-form {
        display: flex; 
        flex-direction: column;
        width: 100%; 
    }
    .names, .selects {
        display: flex; 
        flex-direction: column;
    }
   #fname, #lname {
    height: 40px; 
    width: 100%; 
   }
   .one-footer {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 15px; 
   }
  
   .bottom-container {
    display: flex; 
    flex-direction: column;
    
   }
   .pricing {
    display: flex; 
    flex-direction: column;
    align-items: center;
   }
   .left {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 350px; 
   
     

   }
   #email {
    height: 40px; 
   }

   .asana, .atlassian, .calendar, .ads, .google, .paypal, .weave {
    position: relative; 
    top: -100px; 
   }
   .paypal {
    position: relative; 
    top: -90px; 
    left: -40px; 
   }
   .calendar {
    position: relative; 
    top: -90px;
   }
   .middle {
    margin-top: 300px; 
    font-size: 2rem;
   }
   .pricing {
    font-size: 2rem;
   }
   .left {
    margin-bottom: 50px;
    font-size: 2rem;
   }
   .amount {
    font-size: 6rem;
    opacity: 0.8; 
   }
   #video { 
    width: 200px; 
    height: 50px; 
    align-items: center;s 
    opacity: 0.6; 
   }
 
   .weave {
    position: relative; 
    top: -200px; 
   }
   .ads {
    position: relative; 
    top: -130px; 
   }
    .top-container {
        flex-direction: column;
        align-items: center;
        height: 300px; 
    }
    .one, .two, .three, .four {
        flex-direction: row;
        gap: 15px; 
    }
  
    .form-container {
        flex-direction: column;
        align-items: center;
    }
    .item-1 {
        align-items: center; 
        display: flex; 
        flex-direction: column;
        gap: 20px; 
    }
    .left-form {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    .footer-container {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        margin-bottom: 50px;
    }
    .two-footer, .three-footer, .four-footer, .five-footer {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    
   
    .navbar {
        display: none; 
    }
    .my-button { display: block; 
        margin-top: -50px; 
        height: 30px; 
        width: 75px; 
        background-color: transparent;
        border: 0; 
        opacity: 0.6;
}
.header-top {
    text-align: center;
    width: 100%; 
}
#paragraph-one {
    text-align: center;
    
    padding: 20px; 
}

.item-2 {
    text-align: center;
}
#man {
    padding: 50px; 
}
.navigation {
    display: flex; 
    justify-content: flex-end;
}
#middle-paragraph {
    text-align: center;
}
#fine-print {
    margin-left: 90px; 
}
.button-top-page {
    display: flex; 
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px; 
}
#business, #fine-print {
    width: 300px; 
    text-align: center;
    margin: 0 auto; 
    padding: 25px; 
}
.video-button-top {
    display: flex; 
    justify-content: center;
}

.elvis {
  position: relative;
  width: 75px;
  height: 75px;
  background: transparent;
  animation: elvis-dance 1s infinite alternate ease-in-out;
  transform-origin: center;
}

.elvis .body {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: #18b66c;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 1;
}

.elvis .head {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #f0e9e9;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.elvis .legs {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 6px;
  height: 20px;
  background: #ee5353;
  transform: translateX(-50%);
  z-index: 0;
}

@keyframes elvis-dance {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#video:hover {
    background-color: white; 
    color: blue; 
    
}
#video-button:hover {
    background-color: white; 
    color: blue; 
    border: 2px solid blue; 
}


}